apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: myapp-argo-application
spec:
  project: default
  source:
    repoURL: https://github.com/willyrj/argocd-deploy.git
    #https://gitlab.com/nanuchi/argocd-app-config-git
    targetRevision: HEAD
    path: ./
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true